<!-- validation-testing.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VALIDATION-TEST</title>

    <script src="validationScript.js" defer></script>

</head>
<body>


<div id="output"></div>

<form id="homieForm" th:action="@{/validation}" th:object="${homie}" method="POST" onsubmit="submitForm(event)">
    Name of Homie : <input type="text" th:field="*{homieName}"/>
    <div id="homieNameResult"></div>

    Gang name of homie : <input type="text" th:field="*{homieGang}"/>
    <div id="homieGangResult"></div>

    <input id="getDataButton" type="submit" value="Submit"/>
</form>

</body>
</html>
